<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">
    <meta property="og:image" content="{{meta:image}}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="{{description}}">
    <meta property="og:site_name" content="{{site}}">
    <meta property="og:locale" content="en_GB">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{site}}">
    <meta name="twitter:creator" content="{{site}}">
    <meta name="twitter:url" content="{{url}}">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{meta:image}}">
    <link rel="canonical" href="{{url}}">
    <link rel="apple-touch-icon" sizes="180x180" href="/touch/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/touch/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/touch/favicon-16x16.png">
    <link rel="manifest" href="/touch/manifest.json">
    <link rel="shortcut icon" href="/touch/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/touch/mstile-144x144.png">
    <meta name="msapplication-config" content="/touch/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>{{title}}</title>
    <!-- inject:css -->
    <!-- endinject -->
    <!-- inject:head:js -->
    <!-- only importantFile.js will be injected here -->
    <!-- endinject -->
  </head>
